{{!使用POST方法，將資料傳給action所指定位置}}
{{!使用action屬性為指定表單資料發送的位置}}
<form action="/todos" method="POST">
  <input type="text" placeholder="enter your name" name="name">
  <button type="submit">Create</button>
</form>