{{>message}}
<h1>Register</h1>

<form action="/users/register" style="display:inline-block" method="POST" class="ms-1">
  <p>Name</p>
  <input type="text" placeholder="enter your name" name="name">
  <p>Email</p>
  <input type="text" placeholder="enter your email" name="email">
  <p>Password</p>
  <input type="text" placeholder="enter your password" name="password">
  <p>Confirm password</p>
  <input type="text" placeholder="Pleasr confirm password" name="confirmpassword">
  <button type="submit" style="display:block" class="mt-2">Register</button>
</form>

<form action="/oauth/login/facebook" method="get">
  <button type="submit">Facebook Login</button>
</form>

<div style="display:flex" class="mt-2 ms-1">
  <p>Already have an account?</p>
  <a href="/users/login">Login</a>
</div>